* {
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  margin: 0;
}
h2 {
  color: #167f78;
  font-size: 30px;
}
h3 {
  color: #009ee7;
  font-size: 22px;
  margin-bottom: 10px;
}
h2:first-child {
  margin-top: 0;
}
span {
  display: block;
  font-weight: 700;
  font-size: 20px;
}
#page-wrapper {
  padding: 25px;
}
.song__structure {
  font-size: 20x;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 15px;
  color: #ff0000;
}
.song__chords {
  color: #000000;
  font-size: 20px;
  margin-bottom: 5px;
}
.repeat {
  color: #000000;
  display: inline-block;
  font-size: 16px;
}
.repeat-times {
  color: #ff0000;
  display: inline-block;
}